
div{
    margin-top: 5px;
    margin-bottom: 5px;
}


.rojo{
    background-color: orangered;
}

.amarillo{
     background-color: khaki;
}

.azul{
     background-color: #269abc;
}

.verde{
    background-color: #67b168;
}

    
